<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body style="background-image: url('/static/covidback.jpg');background-repeat: no-repeat;background-size: cover;">
        <h1 style="font-family: Cambria;">Predicted Deaths: {{ result }}</h1>
        <p>Entered Number of Covid Cases: {{ case }}</p>
        <p>Entered Percentage of Population Aged 65 or Above: {{ pop }}</p>
        <p>Enter Number of People Vaccinated: {{ vac }}</p>

        <a href="task1">Predict again</a>
    </body>
</html>
