<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body style="background-image: url('/static/covidback.jpg');background-repeat: no-repeat;background-size: cover;">
        <h1 style="font-family: Cambria;">Predicted Hospital Admissions in UK: {{ result }}</h1>
        <p>Entered Vaccination Rate: {{ vac }}</p>
        <p>Entered Measurement of Visitors to Transit Areas: {{ trans }}</p>
        <p>Enter Number of Days from Introduction of Delta Variant: {{ delta }}</p>

        <a href="task2">Predict again</a>
    </body>
</html>
